.omx/
build/
.cache/
.cmake/
.stm32-init-backup/
CMakeCache.txt
CMakeFiles/
CMakeScripts/
cmake_install.cmake
compile_commands.json
CTestTestfile.cmake
Testing/
Makefile
install_manifest.txt
CMakeUserPresets.json
_deps/
*.elf
*.map
*.bin
*.hex
*.obj
*.o
*.d
.vscode/settings.json
.vscode/*.code-snippets
.vscode/ipch/
*.log
*.tmp
